body{
	font-family: 'Montserrat:wght@400';
}
#title{
	background-color: #ff4c68;
	color:#fff;
	/*font-family: 'Montserrat', sans-serif;
	font-family: 'Ubuntu', sans-serif;*/
}
.container-fluid{
	padding:3% 15% 4%;
}

h1{
	font-family: 'Montserrat:wght@800-Bold'; 
	font-size: 3.5rem;
	line-height: 1.5;
}
h2{
	font-family: "Montserrat-Bold";
	font-size:2.5rem;
	line-height:1.5;
}
h3{
	font-family: "Montserrat-Bold";
	font-size:1.5rem;
}
.navbar{
	padding:0 0 4.5rem;
}
.navbar-brand{
	font-family: 'Ubuntu', sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
}
.nav-item{
	padding: 0 18px;
}
.nav-link{
	font-size: 1.2rem;
	font-family: "Montserrat-light"
}
.download-button{
	margin:5% 3% 5% 0;
}
.title-image{
	width:60%;
	transform: rotate(25deg);
	position:absolute;
	right: 30%;
}
.col-lg{
	font-family: "Montserrat-Bold"
	font-size:1.5rem;
}
/*features*/
#features{
	padding:7% 15%;
	position:relative;
	background-color: #fff;
}
.feature-box{
	text-align: center;
	padding:4.5%;
}
.icon{
	color: #ef8172;
	margin-bottom: 1rem;
}
.icon:hover {
	color:#ff4c68;

}
           


    /*       testimonials*/
#testimonials{
	
	text-align: center;
	background-color:#ef8172;
	color:#fff;

}
.carousel-inner{
	padding:7% 15%;

}
.testimonials-img{
	width:15%;
	border-radius: 100%;
	margin:20px;
}
     
  /*       press      */
#press{
	background-color: #ef8172;
	text-align: center;
	padding-bottom: 3%;
}
.press-logo{
	width:15%;
	margin: 20px 20px 50px;
}
#pricing{
	padding: 100px;
	text-align: center;
}
.pricing-column{
	padding:3% 2%;
}
@media (max-width: 1028px){
	#title{
		text-align:center;
	}
	.title-image{
		position:static;
		transform:rotate(25deg);
	}

}
#cta{
	background-color: #ff4c68;
	text-align: center;
	padding:7% 15%;
}
.hcta{
	font-family: 'Montserrat:wght@800-Bold'; 
	font-size: 2.5rem;
	line-height: 1.5;
	color: #fff;
	padding-top: 50px;
}
#footer{
	
	text-align: center;
	padding: 7% 15%;
}
.directid{
	margin: 20px 10px ;
}
.copyright{
	font-family: 'Montserrat-light';
	padding-top: 2%;
	font-size:1.5rem;
}
